<h1>Mondi</h1>
<div id="grid-content" class="card-grid">

    <div class="w3-card-4 accent-5 card-fixed" data-content="fabaresh_ita.md">
        <object data="" type="" class="card-img">
            <img src="resources/default.png" alt="" class="card-img">
        </object>

        <div class="w3-container w3-padding-16 card-text">
            <h3 class="card-title">Fabaresh</h3>
            <p class="card-desc">Un mondo fantastico dove la magia è generata da storie e racconti. Cambiato completamente dallo studio e la creazione di artifici magici, una tecnica che ha preso il nome di Scienza Apocriptica</p>
        </div>
        <div class="card-footer">
            <ul class="card-tag-list">
                <li>tag1</li>
                <li>tag2</li>
                <li>tag1</li>
                <li>tag2</li>
                <li>tag1</li>
                <li>tag2</li>
                <li>tag1</li>
                <li>tag2</li>
            </ul>
        </div>
    </div>

    <div class="w3-card-4 card-fixed">
        <div class="w3-container">
            <object data="" type=""></object>
            <h3>Card Title</h3>
            <p>AERTHtreioojhtoh</p>
        </div>
    </div>

    <div class="w3-card-4 card-fixed">
        <div class="w3-container">
            <object data="" type=""></object>
            <h3>Card Title</h3>
            <p>AERTHtreioojhtoh</p>
        </div>
    </div>

    <div class="w3-card-4 card-fixed">
        <div class="w3-container">
            <object data="" type=""></object>
            <h3>Card Title</h3>
            <p>AERTHtreioojhtoh</p>
        </div>
    </div>

</div>